body{
    margin: 0;
    padding: 0;
    background: #292929;
    color: mintcream;
    font-family: "Muli", sans-serif;
    font-size: 38px;
}
p
{
    margin: 0;
}

#all_we_need{
    width: 60%;
    margin : 16vw auto 0 auto;
    text-align: center;
    height: 15vw;

}

#name{
    width: 60%;
    height: 30px;
    border-radius: 8px;
    margin-top: 30px;
    border: none;
    cursor : default;
    text-align: center;
}

button {
    margin: 40px auto 0 auto;
    width: 40%;
    height: 40px;
    border: mintcream 2px solid;
    border-radius: 15px;
    background: #292929;
    color: mintcream;
    font-family: "Muli", sans-serif;
    font-size: 20px;
}

button:active {
    background: mintcream;
    color: #292929;
    transition-duration : 0.2s;
}

#yes, #suite {
    display : none;
}

#container {
    display: none;
}

header {
    }

.head-content {
    position : relative;
    display: inline-block;
    background-color: mintcream;
    color: #292929;
    width : 25%;
    height: 100px;
    border-radius: 10px;
    top: -10px;
    margin : 0 10px 0 10px;
    vertical-align: top;
    font-size: 10px;
    overflow : auto;
}

#header-left{
    left : 0;
}

#header-right{
    right : 0;
}

ul, li{
    margin: 5px;
    padding : 0;
    list-style: none;
}




